In [5]:
import pandas as pd
import json

with open('climate_city_all (1).json') as f:
    data = json.load(f)

# Use pd.json_normalize to convert the JSON to a DataFrame
df = pd.json_normalize(data, record_path=None, meta=['id', 'name', 'state', 'country', ['coord', 'lon'], ['coord', 'lat']])

# Rename the columns for clarity
df.columns = ['ID', 'Name', 'State', 'Country', 'Longitude', 'Latitude']

# Display the DataFrame
df.head()

       ID           Name State Country  Longitude   Latitude
0   833.0  Ḩeşār-e Sefīd            IR  47.159401  34.330502
1  2960.0   ‘Ayn Ḩalāqīm            SY  36.321911  34.940079
2  3245.0         Taglag            IR  44.983330  38.450001
3  3530.0       Qabāghlū            IR  46.168499  36.173302
4  5174.0        ‘Arīqah            SY  36.483360  32.889809

In [12]:
filtered_df = df[df['Country'] == 'US']
filtered_df

KeyError: 'Country'