In [2]:
# Dependencies
import pandas as pd
from pathlib import Path

In [3]:
sfr_csv = Path("Resources/Sales_count_sfr.csv")

In [4]:
single_family_df = pd.read_csv(sfr_csv)
single_family_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,102001,0,United States,country,NaN,33875.0,33287.0,42598.0,37571.0,39897.0,...,35946.0,23641.0,30239.0,41435.0,36483.0,41445.0,40799.0,32796.0,35729.0,32325.0
1,394913,1,"New York, NY",msa,NY,380.0,311.0,375.0,349.0,379.0,...,299.0,214.0,239.0,305.0,246.0,334.0,342.0,253.0,327.0,268.0
2,753899,2,"Los Angeles, CA",msa,CA,270.0,241.0,421.0,300.0,320.0,...,150.0,103.0,129.0,204.0,140.0,166.0,187.0,141.0,142.0,160.0
3,394463,3,"Chicago, IL",msa,IL,307.0,272.0,338.0,370.0,424.0,...,406.0,270.0,313.0,464.0,423.0,421.0,473.0,377.0,485.0,422.0
4,394514,4,"Dallas, TX",msa,TX,1490.0,1625.0,2178.0,1902.0,1736.0,...,1996.0,1197.0,1732.0,2193.0,1900.0,2029.0,1953.0,1551.0,1694.0,1474.0

In [11]:
transposed_rough = pd.DataFrame(single_family_df)

new_rows = []

for _, row in transposed_rough.iterrows():
    region_ID = row['RegionID']
    size_rank = row['SizeRank']
    region_name = row['RegionName']
    region_type = row['RegionType']
    state_name = row['StateName']
    
    for date_column in transposed_rough.columns[5:]:
        date = pd.to_datetime(date_column)
        value = row[date_column]
        
        new_rows.append([region_ID,size_rank,region_name,region_type,state_name, date, value])

transposed_df = pd.DataFrame(new_rows, columns=['Region ID','Size Rank','Region Name','Region Type','StateName', 'Date', 'Value'])

transposed_df

,Region ID,Size Rank,Region Name,Region Type,StateName,Date,Value
0,102001,0,United States,country,NaN,2018-01-31,33875.0
1,102001,0,United States,country,NaN,2018-02-28,33287.0
2,102001,0,United States,country,NaN,2018-03-31,42598.0
3,102001,0,United States,country,NaN,2018-04-30,37571.0
4,102001,0,United States,country,NaN,2018-05-31,39897.0
...,...,...,...,...,...,...,...
22558,394892,832,"Mountain Home, ID",msa,ID,2023-05-31,NaN
22559,394892,832,"Mountain Home, ID",msa,ID,2023-06-30,NaN
22560,394892,832,"Mountain Home, ID",msa,ID,2023-07-31,10.0
22561,394892,832,"Mountain Home, ID",msa,ID,2023-08-31,6.0
22562,394892,832,"Mountain Home, ID",msa,ID,2023-09-30,5.0