In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
sfr_csv = Path("Resources/Sales_count_sfr.csv")

In [3]:
sfr_df = pd.read_csv(sfr_csv)
sfr_df.head()

,Metro_new_con_sales_count_raw_uc_sfr_month,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73
0,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
1,102001,0,United States,country,NaN,33875.0,33287.0,42598.0,37571.0,39897.0,...,35946.0,23641.0,30239.0,41435.0,36483.0,41445.0,40799.0,32796.0,35729.0,32325.0
2,394913,1,"New York, NY",msa,NY,380,311,375,349,379,...,299,214,239,305,246,334,342,253,327,268
3,753899,2,"Los Angeles, CA",msa,CA,270,241,421,300,320,...,150,103,129,204,140,166,187,141,142,160
4,394463,3,"Chicago, IL",msa,IL,307,272,338,370,424,...,406,270,313,464,423,421,473,377,485,422